
mixin modal() 
 
	//- #modal-win.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-win', aria-hidden='true')
		
	//- 	div( class="   modal-dialog  modal-dialog-centered  " role='document') 
	//- 		+form-wrap()(class=" modal-content modal-win ")
	//- 			button.close.mfp-close(type='button', data-dismiss='modal', aria-label='Close')  ×
	//- 			+input("tel","Введите ваш телефон")(name="tel" required) 
				
	//- 			+e.BUTTON.btn.btn.btn-accent.btn-block Отправить
	//- 			+b.wrap-polite
	//- 				+b.custom-input.polite
	//- 					+b.LABEL.custom-input.polite
	//- 						+e.INPUT.input.__input-radio(type="checkbox" checked name="polite" required value="")
	//- 						+e.SPAN.lab
	//- 						| Даю 
	//- 						| 
	//- 						span.link( data-toggle='modal', data-target='#exampleModal2') согласие 

	//- 						| на хранение и обработку   персональных данных
	
 

	//- #thanks.modal.fade(tabindex='-1', role='dialog', aria-labelledby='thanks', aria-hidden='true')
	//- 	div( class=" ttext-center  modal-dialog  modal-dialog-centered  " role='document') 
	//- 		+form-wrap()(class=" modal-content modal-win ")
	//- 			button.close.mfp-close(type='button', data-dismiss='modal', aria-label='Close')  ×
	//- 			br
	//- 			.h2 Заявка принята
	//- 			br
	//- 			.h3 Скоро с Вами свяжутся
	//- 			br 
	.d-none
		+form-wrap()(id="modal-call" class="  modal-win modal-form" )
			.text-center
				+e.title.h3.ttu Обратный звонок
				p Заполните заявку и&nbsp;мы&nbsp;с&nbsp;Вами свяжемся в&nbsp;течении 15&nbsp;минут
			+input("Ваше Имя")(required) 
			+input("Ваш телефон","tel")(required)
			//- +input("email","Ваше email")(required)
			//- +text( "Комментарий")
			+e.INPUT.btn(type="submit" value="Рассчитать") 
			+polite()
	
	
	.d-none
		+b.modal-order#modal-order.modal-win
			+e.H2.title Выбери свой вкусный букет

			+e.block

				.row
					+e.col.col-md-6
						+e.img-wrap
							+e.IMG.product-img(name='product_img' src='img/@1x/product-green--sm.jpg' alt='')

					+e.col.col-md-6
						+e.info-block
							+e.info-price 990 руб
							+e.info-name 15-17 см, фиолетовая фуксия
						form
							+e.radio-title Размер букета
							+e.radio-block
								+e.LABEL.radio-size
									input(type='radio', name='size' data-size='sm' checked)
									span Маленький
								+e.LABEL.radio-size
									input(type='radio', name='size' data-size='md')
									span Средний
								+e.LABEL.radio-size
									input(type='radio', name='size' data-size='lg')
									span Большой
							
							+e.radio-title Цвет упаковки
							+e.radio-block
								+e.LABEL.radio-color--green
									input(type='radio', name='color' data-color='green' checked)
									span
								+e.LABEL.radio-color--red
									input(type='radio', name='color' data-color='red')
									span
								+e.LABEL.radio-color--pink
									input(type='radio', name='color' data-color='pink')
									span
								+e.LABEL.radio-color--blue
									input(type='radio', name='color' data-color='blue')
									span
								+e.LABEL.radio-color--viol
									input(type='radio', name='color' data-color='viol')
									span
								+e.LABEL.radio-color--yell
									input(type='radio', name='color' data-color='yell')
									span
								+e.LABEL.radio-color--purp
									input(type='radio', name='color' data-color='purp')
									span
								+e.LABEL.radio-color--orng
									input(type='radio', name='color' data-color='orng')
									span
							
							+e.btn.btn.btn-light2(type="submit") Добавить в корзину
		// #modal-call
	// modal