
mixin modal() 
 
	//- #modal-win.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-win', aria-hidden='true')
		
	//- 	div( class="   modal-dialog  modal-dialog-centered  " role='document') 
	//- 		+form-wrap()(class=" modal-content modal-win ")
	//- 			button.close.mfp-close(type='button', data-dismiss='modal', aria-label='Close')  ×
	//- 			+input("tel","Введите ваш телефон")(name="tel" required) 
				
	//- 			+e.BUTTON.btn.btn.btn-accent.btn-block Отправить
	//- 			+b.wrap-polite
	//- 				+b.custom-input.polite
	//- 					+b.LABEL.custom-input.polite
	//- 						+e.INPUT.input.__input-radio(type="checkbox" checked name="polite" required value="")
	//- 						+e.SPAN.lab
	//- 						| Даю 
	//- 						| 
	//- 						span.link( data-toggle='modal', data-target='#exampleModal2') согласие 

	//- 						| на хранение и обработку   персональных данных
	
 

	//- #thanks.modal.fade(tabindex='-1', role='dialog', aria-labelledby='thanks', aria-hidden='true')
	//- 	div( class=" ttext-center  modal-dialog  modal-dialog-centered  " role='document') 
	//- 		+form-wrap()(class=" modal-content modal-win ")
	//- 			button.close.mfp-close(type='button', data-dismiss='modal', aria-label='Close')  ×
	//- 			br
	//- 			.h2 Заявка принята
	//- 			br
	//- 			.h3 Скоро с Вами свяжутся
	//- 			br 
	.d-none
		+form-wrap()(id="modal-call" class="  modal-win modal-form" )
			.text-center
				+e.title.h3.ttu Обратный звонок
				p Заполните заявку и&nbsp;мы&nbsp;с&nbsp;Вами свяжемся в&nbsp;течении 15&nbsp;минут
			+input("Ваше Имя")(required) 
			+input("Ваш телефон","tel")(required)
			//- +input("email","Ваше email")(required)
			//- +text( "Комментарий")
			+e.INPUT.btn(type="submit" value="Рассчитать") 
			+polite()
	

	.d-none
		+b.modal-order#modal-order.modal-win
			+e.H2.title Выбери свой вкусный букет

			+e.block

				.row
					+e.col.col-md-6
						+e.img-wrap
							+e.IMG.product-img(name='product_img' src='img/product-gal/product-green--sm.jpg' alt='')

					+e.col.col-md-6
						+e.info-block
							+e.info-price
								span 990 
								| руб
							+e.info-name
								span.size 15-17 см
								|, 
								span.color фиолетовая фуксия
						form
							+e.radio-title Размер букета
							+e.radio-block
								+e.LABEL.radio-size
									input(type='radio', name='size' data-size='15-17 см' data-photosize='sm' data-price='990' checked)
									span Маленький
								+e.LABEL.radio-size
									input(type='radio', name='size' data-size='19-21 см' data-photosize='md' data-price='1990')
									span Средний
								+e.LABEL.radio-size
									input(type='radio', name='size' data-size='28-30 см' data-photosize='lg' data-price='2990')
									span Большой
							
							+e.radio-title Цвет упаковки
							+e.radio-block
								+e.LABEL.radio-color--green
									input(type='radio', name='color' data-color='green' checked)
									span
								+e.LABEL.radio-color--red
									input(type='radio', name='color' data-color='red')
									span
								+e.LABEL.radio-color--pink
									input(type='radio', name='color' data-color='pink')
									span
								+e.LABEL.radio-color--blue
									input(type='radio', name='color' data-color='blue')
									span
								+e.LABEL.radio-color--viol
									input(type='radio', name='color' data-color='viol')
									span
								+e.LABEL.radio-color--yell
									input(type='radio', name='color' data-color='yell')
									span
								+e.LABEL.radio-color--purp
									input(type='radio', name='color' data-color='purp')
									span
								+e.LABEL.radio-color--orng
									input(type='radio', name='color' data-color='orng')
									span
							
							+e.btn.btn.btn-light2(type="submit") Добавить в корзину
	
	
	.d-none
		+b.modal-thanks#modal-thanks.modal-win
			+e.H3.title Товар добавлен в корзину
			+e.btn-block
				+e.btn.btn.btn-light2(href='#') Оформить заказ
				+e.btn.btn.btn-light2(href='#') Продолжить покупки
	
	
	.d-none
		+b.modal-deliver#modal-deliver.modal-win
			+e.H2.title Куда доставить?
			.tabs
				.tabs__caption
					.tabs__btn.active Доставка
					.tabs__btn Самовывоз

				.tabs__wrap
					.tabs__content.active 
						+form-wrap
							.row
								+e.col.col-sm-9.col-8
									+input('Улица', 'text', '', '')
								+e.col.col-sm-3.col-4
									+input('Дом', 'text', '', '')
								+e.col.col-sm-3.col-6
									+input('Квартира', 'text', '', '')
								+e.col.col-sm-3.col-6
									+input('Подъезд', 'text', '', '')
								+e.col.col-sm-3.col-6
									+input('Код двери', 'text', '', '')
								+e.col.col-sm-3.col-6
									+input('Этаж', 'text', '', '')
								+e.col.col-12
									+input('Комментарий к адресу', 'textarea', '', '')
							
							+e.btn.btn.btn-light2(type="submit") Подтвердить адрес
					.tabs__content
						+e.deliver-wrap
							+form-wrap

								+in-c('radio', '', 'deliver')(checked)
									+e.SPAN.address-title Мармеладная бочка
									+e.SPAN.address-info Невский проспект дом 83
									+e.SPAN.address-info--metro Невский проспект
									+e.SPAN.address-info Работаем без выходных, круглосуточно
								+in-c('radio', '', 'deliver')
									+e.SPAN.address-title Мармеладная бочка
									+e.SPAN.address-info Невский проспект дом 83
									+e.SPAN.address-info--metro Невский проспект
									+e.SPAN.address-info Работаем без выходных, круглосуточно
								+in-c('radio', '', 'deliver')
									+e.SPAN.address-title Мармеладная бочка
									+e.SPAN.address-info Невский проспект дом 83
									+e.SPAN.address-info--metro Невский проспект
									+e.SPAN.address-info Работаем без выходных, круглосуточно
						
								+e.btn.btn.btn-light2(type="submit") Продолжить

									

		// #modal-call
	// modal